/* .movieDetails {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  align-items: start;
  width: 80%;
  margin: auto;
}

.decoreLink {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 255, 0.5);
  transition: color 0.5s ease-in-out;
}

.decoreLink:hover {
  color: lightblue;
} */
