.imageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}



.actorList img {
  background: url('/src/images/person.png') no-repeat center center;
  background-size: cover;
  list-style-type: none;
}

.actorImg {
  max-width: 170px;
  max-height: 255px;
}

.actorDiv {
  width: 170px;
}
